---
layout: default
---
{% include navigation.html %}

<div class="row">
  <div class="span2">
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="#scope">Scope</a></li>
      <li><a href="#conformance">Conformance</a></li>
      <li><a href="#use-cases-and-requirements">Requirements</a></li>
      <li><a href="#classes-and-properties">Classes</a></li>
      <li><a href="#serialization">Serialization</a></li>
      <li><a href="#history">Change history</a></li>
    </ul>
  </div>
  <div class="span10">
{{ content }}
  </div>
</div>
